.chbook-wrap {height:100%;display:flex;flex-direction:column}
.chbook-header {flex-shrink:0}
.chbook-footer {flex-shrink:0}
.chbook-content {flex:1;display:flex;gap:2rem}
.left-nav {flex-shrink:0}
.chbook-content-group {flex:1;display:flex;gap:2rem}
.chbook-group-box {flex-shrink:0}
.chbook-chatbot-box {flex-shrink:0}
.chbook-e-book-box {flex:1}
.chbook-mobile-nav {display:none}
.left-nav-list {display:flex;flex-direction:column}
.chbook-wrap .order1 {order:1}
.chbook-wrap .order2 {order:2}
.chbook-wrap .order3 {order:3}

@media (max-width:1023px) {
    .chbook-mobile-nav {display:block}
}