.dmex-ebook {
  overflow:hidden;
}
.dmex-ebook--wrap {
  display:flex;
  gap:1.2rem;
  width:100%;
  height:100dvh;
  padding:2rem;
}

.dmex-ebook--group {
  width:36rem;
  min-width:36rem;
  height:100%;
  border:.1rem solid black;
  border-radius:1.6rem;
}
.dmex-ebook--chat {
  width:36rem;
  min-width:36rem;
  height:100%;
  border:.1rem solid black;
  border-radius:1.6rem;
}

.dmex-ebook--viewer {
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  flex:1;
  width:100%;
  padding: 0 3rem;
  background-color: #fff;
}
.dmex-ebook--viewer-header {display:flex;justify-content:space-between;width:100%;padding:1.2rem 0 .8rem 0;}
.dmex-ebook--viewer-info {display:flex;align-items:center;gap:.7rem;}
.icon-pdf {display:block;background:url("../images/common/icon-pdf.png") no-repeat 50% 50%;aspect-ratio:28/27;width:2.8rem;background-size:contain;}
.dmex-ebook--viewer-info-title {font-size:1.6rem;font-weight:500;line-height:2rem;color:#000;}
.dmex-ebook--viewer-info-etc {display:flex;margin-top:.4rem;font-size:1.4rem;line-height:1.6rem;color:#707070;gap:.8rem}
.dmex-ebook--viewer-info-etc-line {color:#E9E9E9}
.dmex-ebook--viewer-footer {display:flex;justify-content:center;width:100%;padding:1.6rem 1.6rem 2.4rem;gap:4rem;}
.dmex-ebook--viewer-body {
  flex:1;
  width:100%;
  padding:0 3rem;
  display:flex;
  align-items:center;
  justify-content:center;
  max-height:calc(100dvh - 12rem);
  overflow:hidden;
  position:relative;
}
.dmex-ebook--viewer-wrap {
  flex:1;
  width:100%;
  padding:0 3rem;
  display:flex;
  align-items:center;
  justify-content:center;
  max-height:calc(100dvh - 12rem);
  overflow:hidden;
  position:relative;
}
.dmex-ebook--viewer-main {
  flex:1;
  width:100%;
  padding:0 0;
  display:flex;
  align-items:center;
  justify-content:center;
  max-height:calc(100dvh - 12rem);
  height:100%;
  overflow:hidden;
  position:absolute;
}
[data-list-state="true"] .dmex-ebook--viewer-list{
  display:flex;
}
.dmex-ebook--viewer-list{
  position:relative;
  top:0;
  right:0;
  padding:1.4rem;
  background-color:#fff;
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
  display:none;
  flex-direction:column;
  gap:.4rem;
}
.dmex-ebook--viewer-list::-webkit-scrollbar {
    position:absolute;
    width:.8rem;
    height:1.2rem;
    background-color:transparent
}
.dmex-ebook--viewer-list::-webkit-scrollbar-track {
    background-color:transparent;
}
.dmex-ebook--viewer-list::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, .2);
    border-radius:.8rem;
    background-clip:padding-box;
    border:.3rem solid transparent;
}
.dmex-ebook--viewer-list::-webkit-scrollbar-corner {
    background-color:transparent;
}
.dmex-ebook--viewer-list-btn {
  width:100%;
  padding:1rem;
  border-bottom:.1rem solid #ccc;
}

.dmex-ebook--viewer-util {display:flex;gap:.8rem;align-items:center;}
.dmex-ebook--viewer-util-btn {display:flex;align-items:center;font-size:1.4rem;color:#000;font-weight:400;}
.dmex-ebook--viewer-util-btn i {aspect-ratio:1/1;width:2.8rem;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;pointer-events:none;}
.icon-auto-play {background-image:url("../images/common/icon-auto-play.svg");}
.icon-e-b-list {background-image:url("../images/common/icon-e-b-list.svg");}
.icon-e-b-full {background-image:url("../images/common/icon-e-b-full.svg");}
.dmex-ebook--viewer-util-btn[data-act="auto"]::after {content:"자동넘김";}
[data-auto="true"] .dmex-ebook--viewer-util-btn[data-act="auto"]::after {content:"정지";}
[data-full="true"] .dmex-ebook--viewer-util-btn[data-act="full"]::after{content:"축소";}

.dmex-ebook--viewer-zoom {display:flex;gap:.8rem;align-items:center;}
.dmex-ebook--viewer-zoom-btn,
.dmex-ebook--viewer-zoom-btn i {aspect-ratio:1/1;width:2.8rem;}
.icon-view-minus {background-image:url("../images/common/icon-zoom-minus.svg");}
.icon-view-plus {background-image:url("../images/common/icon-zoom-plus.svg");}
.dmex-ebook--viewer-zoom-progress {width:24rem}
.dmex-ebook--viewer-zoom-progress input[type="range"] {width:100%;-webkit-appearance:none;appearance:none;border-radius:999em;background-color:#828282;box-shadow: 0 .1rem .2rem 0 #00000040 inset;outline:none;}
/* 트랙 스타일 */
.dmex-ebook--viewer-zoom-progress input[type="range"]::-webkit-slider-runnable-track {height:.8rem;border-radius:999em;background-color:#828282;box-shadow:0 .1rem .2rem 0 #00000040 inset;}
.dmex-ebook--viewer-zoom-progress input[type="range"]::-moz-range-track {height:.8rem;border-radius:999em;background-color:#828282;box-shadow: 0 .1rem .2rem 0 #00000040 inset;}
/* 슬라이더 핸들 (thumb) 스타일 */
.dmex-ebook--viewer-zoom-progress input[type="range"]::-webkit-slider-thumb {-webkit-appearance:none;appearance:none;width:4rem;height:1.6rem;background:#fff;border:.1rem solid #000;border-radius:999em;cursor:pointer;position:relative;top:-.4rem;}
.dmex-ebook--viewer-zoom-progress input[type="range"]::-moz-range-thumb {width:4rem;height:1.6rem;background:#fff;border:.1rem solid #000;border-radius:999em;cursor:pointer;position:relative;top:-.4rem;}

.dmex-ebook--viewer-paging {display:flex;gap:1.6rem;align-items:center;}
.dmex-ebook--viewer-zoom-btn,
.dmex-ebook--viewer-paging-btn {display:flex;align-items:center;justify-content:center;}
.dmex-ebook--viewer-paging-btn,
.dmex-ebook--viewer-paging-btn i {aspect-ratio:1/1;width:2.4rem;}
.dmex-ebook--viewer-zoom-btn i,
.dmex-ebook--viewer-control-btn i,
.dmex-ebook--viewer-paging-btn i {background-repeat:no-repeat;background-position:50% 50%;background-size:contain;pointer-events:none;}
.icon-e-p-first {background-image:url("../images/common/e-book-paging-first.svg");}
.icon-e-p-prev {background-image:url("../images/common/e-book-paging-prev.svg");}
.icon-e-p-prev-big {background-image:url("../images/common/e-book-paging-prev-big.svg");}
.icon-e-p-next {background-image:url("../images/common/e-book-paging-next.svg");}
.icon-e-p-next-big {background-image:url("../images/common/e-book-paging-next-big.svg");}
.icon-e-p-last {background-image:url("../images/common/e-book-paging-last.svg");}
.dmex-ebook--viewer-paging-number {height:3.4rem;border-radius:999em;background-color:#000;display:flex;align-items:center;padding:0 2rem;color:#fff;font-size:1.8rem;}

.dmex-ebook--viewer-control-btn {position:absolute;top:50%;transform:translate(0, -50%);display:flex;align-items:center;justify-content:center;}
.dmex-ebook--viewer-control-btn,
.dmex-ebook--viewer-control-btn i {aspect-ratio:21/40;width:2.1rem;}
.dmex-ebook--viewer-control-btn[data-act="prev"] {left:0.6rem;}
.dmex-ebook--viewer-control-btn[data-act="next"] {right:0.6rem;}


.dmex-ebook--viewer-book {
  margin:0 auto;
  height:100%;
  width:100%;
  /* z-index:100;
  box-shadow:0 0 2rem 0 rgba(0, 0, 0, 0.2);
  background-color:#fff; */
}
.dmex-ebook--viewer-page {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  box-shadow:0 0 0.5rem rgb(0, 0, 0, 0.2);
  background-color:#fff;
  border:solid 1px #c2b5a3;
  overflow:hidden;
  position:relative;
}
.dmex-ebook--viewer-page img {
  width:100%;
  display:block;
  object-fit:cover;
}

.dmex-ebook--viewer-page.--left {
  border-right:0;
}
.dmex-ebook--viewer-page.--left::before {
  content:"";
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  z-index:1;
  pointer-events:none;
  top:0; 
  left:0;
  box-shadow:inset -0.7rem 0 3rem -0.7rem rgba(0, 0, 0, 0.4);
}
.dmex-ebook--viewer-page.--right {
  border-left:0;
}
.dmex-ebook--viewer-page.--right::before {
  content:"";
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  z-index:1;
  pointer-events:none;
  top:0; 
  left:0;
  box-shadow:inset 0.7rem 0 3rem -0.7rem rgba(0, 0, 0, 0.4);
}

.dmex-ebook--viewer-foot {
  display:flex;
  justify-content:center;
  align-items:baseline;
  margin:0 auto;
  background-color:black;
  color:#fff;
  gap:0.6rem;
  width:min-content;
  white-space:nowrap;
}


.pBlock--mobile {
  width:39rem;
  height:62rem;
  margin:0 auto;
  overflow:hidden;
  box-shadow:0 0 1rem rgba(0, 0, 0, 0.6);
  background-color:#dddddd;
  border-radius:.4rem;
  background-size:cover
}

.pBlock--tablet {
  width:62rem;
  height:90rem;
  margin:0 auto;
  overflow:hidden;
  box-shadow:0 0 1rem rgba(0, 0, 0, 0.6);
  background-color:#dddddd;
  border-radius:.4rem;
  background-size:cover
}

.pBlock--tablet-l {
  width:90rem;
  height:60rem;
  margin:0 auto;
  overflow:hidden;
  box-shadow:0 0 1rem rgba(0, 0, 0, 0.6);
  background-color:#dddddd;
  border-radius:.4rem;
  background-size:cover
}

.stf__wrapper.--landscape {
  background-color:#fff;
  box-shadow:0 0 1rem rgba(0, 0, 0, 0.2);
}

[data-zoom-state='true'] .stf__wrapper {pointer-events:none;}
[data-zoom-state='true'] .dmex-ebook--viewer-book {}