@charset "utf-8";

.service-info-box {background-color:#fff;border-radius:3.6rem;max-height:calc(100vh - 19rem);overflow-y:auto;flex:1;container-name:service-container;container-type:inline-size;}
.service-info-box::-webkit-scrollbar {position: absolute;width:1.8rem;height:1.2rem;background-color: transparent}
.service-info-box::-webkit-scrollbar-track {background-color: transparent;}
.service-info-box::-webkit-scrollbar-thumb {background-color: #DAE0EE;border-radius: 3rem;background-clip: padding-box;border: .6rem solid transparent;}
.service-info-box::-webkit-scrollbar-button:vertical:start:decrement,
.service-info-box::-webkit-scrollbar-button:vertical:start:increment {display:block;width:3.6rem;}
.service-info-box::-webkit-scrollbar-button:vertical:end:decrement {display:block;width:3.6rem;}
.service-info-box-inner {padding-left:9.2rem;padding-right:7.4rem;padding-bottom:6rem}
.service-info-box-top-title {text-align:center;font-size:4rem;font-weight:900;}
.service-info-box-top-title span {background:linear-gradient(90deg, #7156DB 0%, #7B92E7 76.01%);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.service-info-box .text-blue {font-weight:700;color:#3B43BA}
.service-info-title {font-size:2.8rem;font-weight:700;color:#2c2c2c;padding-top:3rem;margin-left:-5.2rem}

.service-desc-box {display:flex;gap:2.8rem;margin-bottom:3.6rem;}
.icon-service-1 {aspect-ratio:1/1;width:3.6rem;background:url("../images/common/icon-service-1.svg") no-repeat 50% 50%;background-size:contain;display:block;}
.icon-service-2 {aspect-ratio:1/1;width:8rem;background:url("../images/common/icon-service-2.svg") no-repeat 50% 50%;background-size:contain;display:block;}
.icon-service-3 {aspect-ratio:1/1;width:8rem;background:url("../images/common/icon-service-3.svg") no-repeat 50% 50%;background-size:contain;display:block;}
.icon-service-4 {aspect-ratio:1/1;width:8rem;background:url("../images/common/icon-service-4.svg") no-repeat 50% 50%;background-size:contain;display:block;}
.icon-service-6 {aspect-ratio:1/1;width:8rem;background:url("../images/common/icon-service-5.svg") no-repeat 50% 50%;background-size:contain;display:block;}
.service-desc-title {font-size:2.8rem;font-weight:600;color:#111;line-height:3.2rem;}
.service-desc-content {min-height:8rem;display:flex;justify-content:center;flex-direction:column;gap:.8rem;}
.service-desc-desc {font-weight:300;font-size:1.6rem;line-height:2.4rem;}
.service-desc-1 {font-size:2.8rem;line-height:4rem;color:#202020;font-weight:700}
.service-desc-2 {font-size:2rem;line-height:3.2rem;color:#202020;font-weight:400;word-break:keep-all}
.service-desc-2 .text-blue {font-weight:700;color:#3B43BA}

/* S :서비스 소개 */
.sub-content-area {max-width:109.6rem;margin:0 auto;}
.sub-content-area .title-size-24 {margin-top:5.6rem;margin-bottom:2rem;font-size:3.2rem;color:#7278CF;text-align:center;line-height:4.2rem}
.page-content .main-service-item:first-child {margin-top:0;padding-top:0;min-height:72rem;}
.box-group-area {display:flex;flex-wrap:wrap;gap:2.4rem;}
.box-group-area.gap-12 {gap:1.2rem;}
.box-group-area.gap-16 {gap:1.6rem;}
.w-full-type {width:100%;}
.green-color-box {background-color:#EDFAF5;padding:2.8rem 3.2rem;border-radius:2.8rem;}
.green-color-box[data-dir="start"] .green-color-box-content {align-items:flex-start}
.green-color-box[data-dir="end"] .green-color-box-content {align-items:flex-end}
.green-color-box-content {display:flex;align-items:flex-end;gap:4rem;}
.green-color-box-data {flex:1;display:flex;flex-direction:column;gap:2rem;}
.color-box-img {flex-shrink:0;display:flex;gap:2.4rem;}
.round-136-item {aspect-ratio:1/1;width:13.6rem;border-radius:999em;background-color:#fff;box-shadow:.2rem .2rem 1rem 0 rgba(61, 59, 80, 0.10);display:flex;align-items:center;justify-content:center;}
.round-102-item {aspect-ratio:1/1;width:10.2rem;border-radius:999em;background-color:#fff;box-shadow:.2rem .2rem 1rem 0 rgba(61, 59, 80, 0.10);display:flex;align-items:center;justify-content:center;}
.round-96-item {aspect-ratio:1/1;width:9.6rem;border-radius:999em;background-color:#fff;box-shadow:.2rem .2rem .8rem 0 rgba(61, 59, 80, 0.10);display:flex;align-items:center;justify-content:center;}
[class^="gradation-color-box-"] {padding:5.2rem 4.4rem;border-radius:2.8rem;}
.gradation-color-box-1 {background:linear-gradient(180deg, rgba(237, 246, 254, 0.70) 0%, rgba(245, 237, 254, 0.70) 100%);}
.gradation-color-box-2 {background:linear-gradient(138deg, rgba(248, 238, 253, 0.70) 2.31%, rgba(254, 245, 236, 0.70) 94.87%);}
.box-group-col-2 {width:calc((100% - 2.4rem) / 2);}
.box-group-col-4 {width:calc((100% - 3.6rem) / 4);}
.gap-16 .box-group-col-4 {width:calc((100% - 5.4rem) / 4);}
.gradation-color-content {display:flex;align-items:center;justify-content:center;flex-direction:column;}
.gradation-color-content * {text-align:center;}
.sky-color-box {background-color:#F3F6FF;padding:4rem;border-radius:2.8rem;}
.sky-color-content {display:flex;min-height:18.8rem;gap:2.4rem;}
.sky-color-content[data-dir="center"] {min-height:0;align-items:center;}
.gradation-color-content-data {flex:1;display:flex;gap:1.2rem;flex-direction:column;}
.sky-color-content .color-box-img {align-self:flex-end;}
.sky-color-content[data-dir="center"] .color-box-img {align-self:center}
.radius-32-size-112-item {aspect-ratio:1/1;width:11.2rem;border-radius:3.2rem;display:flex;align-items:center;justify-content:center;background-color:#fff;box-shadow:.2rem .2rem 1rem 0 rgba(61, 59, 80, 0.10);}
.fake-table-box {border-radius:2.8rem;border:1px solid #E3E3E3;overflow:hidden;}
.fake-table-box .table-list-head {height:9.2rem;background-color:#F7F7FE;}
.table-list-head .table-list-th:not([data-flex-col="type1"]) {font-size:2rem;color:#000;}
.fake-table-box .table-list-body {border-top-color:#E3E3E3}
.fake-table-box .table-list-body-item:last-child {border-bottom:none;}
[data-flex="fake-table-title"] {width:100%;display:flex;}
.fake-table-box .fake-table-item ~ .fake-table-item,
[data-flex="fake-table-title"] .table-list-th ~ .table-list-th {border-left:1px solid #E3E3E3}
[data-flex="fake-table-title"] [data-flex-col="type1"] {flex:1;font-weight:400;font-size:1.6rem;}
[data-flex="fake-table-title"] [data-flex-col="type1-1"] {width:12rem;font-weight:400;font-size:1.6rem;}
[data-flex="fake-table-title"] [data-flex-col="type2"],
[data-flex="fake-table-title"] [data-flex-col="type3"],
[data-flex="fake-table-title"] [data-flex-col="type4"],
[data-flex="fake-table-title"] [data-flex-col="type5"] {flex:1;font-weight:600;}
.fake-table-item {display:flex;align-items:center;justify-content:center;padding:2rem 1.2rem;text-align:center;word-break:keep-all;}
.table-list-body .fake-table-item:not([data-flex-col="type1"]) {font-size:2rem;color:#000;font-weight:700;}
.table-list-body .fake-table-item[data-flex-col="type1-1"] {font-weight:400;font-size:1.6rem;align-self:center;}
.table-list-body .fake-table-item-desc {font-size:1.6rem;line-height:2rem;font-weight:300;}
.table-list-body .fake-table-item-content {font-size:1.6rem;line-height:2rem;font-weight:300;}
.fake-table-item-content-box {width:100%;display:flex;flex-direction:column;gap:.8rem;}
.fake-table-item-content {display:flex;align-items:flex-start;gap:.8rem;}
.fake-table-item-content-title {font-weight:600;flex-shrink:0;}
.fake-table-item-content-data {flex:1;text-align:left;}
.gap-12 .green-color-box {padding:4.4rem 2.4rem;}
.gap-12 .green-color-box-content {gap:1.6rem;flex-direction:column;align-items:center;}
.beige-color-box {background-color:#FFFAF5;padding:4rem;border-radius:2.8rem;}
.beige-color-content {display:flex;gap:4rem;align-items:flex-start;}
.beige-color-content-data {flex:1;display:flex;flex-direction:column;gap:.4rem;}
.beige-color-content-data .text-desc-size-16 {display:flex;gap:.8rem;align-items:flex-start;}
.round-18 {aspect-ratio:1/1;width:1.8rem;border-radius:999em;display:flex;align-items:center;justify-content:center;border:1px solid #000;flex-shrink:0;}
.text-desc-size-16 .round-18 {position:relative;top:.4rem;}
.arrow-4 {aspect-ratio:5/8;width:.4rem;background:url("../images/common/arrow-4.svg") no-repeat 50% 50%;background-size:contain;display:block;}
.table-list-body[data-dir="start"] .fake-table-item,
.table-list-body[data-dir="start-v2"] .fake-table-item {align-items:flex-start;}
.text-desc-list {display:flex;flex-direction:column;gap:.4rem;}
.text-desc-list .text-desc-size-16 {display:flex;align-items:flex-start;gap:.8rem;}
.table-list-body[data-dir="start-v2"] .fake-table-item-value {width:100%;}
.table-list-body .text-desc-size-16 {text-align:left;}
[class^="icon-streaming-"],
[class^="icon-live1-"],
[class^="icon-live2-"],
[class^="icon-cdn-"],
[class^="icon-ai-"],
[class^="icon-form-"],
[class^="icon-player-"],
[class^="icon-company-"],
[class^="icon-cloud-in-"],
[class^="icon-e-book-"] {display:block;background-size:contain;background-position:50% 50%;background-repeat:no-repeat;}
.icon-streaming-1 {aspect-ratio:1/1;background-image:url("../images/service/icon-streaming-1.png");width:7.6rem;}
.icon-streaming-2 {aspect-ratio:160/128;background-image:url("../images/service/icon-streaming-2.png");width:8rem;}
.icon-streaming-3 {aspect-ratio:154/112;background-image:url("../images/service/icon-streaming-3.png");width:7.7rem;}
.icon-streaming-4 {aspect-ratio:224/192;background-image:url("../images/service/icon-streaming-4.png");width:11.2rem;}
.icon-streaming-5 {aspect-ratio:219/192;background-image:url("../images/service/icon-streaming-5.png");width:11rem;}
.icon-streaming-6 {aspect-ratio:1/1;background-image:url("../images/service/icon-streaming-6.png");width:5.6rem;}
.icon-streaming-7 {aspect-ratio:48/112;background-image:url("../images/service/icon-streaming-7.png");width:2.4rem;}
.icon-streaming-8 {aspect-ratio:144/126;background-image:url("../images/service/icon-streaming-8.png");width:7.2rem;}
.icon-streaming-9 {aspect-ratio:144/104;background-image:url("../images/service/icon-streaming-9.png");width:7.2rem;}
.icon-streaming-10 {aspect-ratio:96/80;background-image:url("../images/service/icon-streaming-10.png");width:4.8rem;}
.icon-streaming-11 {aspect-ratio:88/80;background-image:url("../images/service/icon-streaming-11.png");width:4.4rem;}
.icon-streaming-12 {aspect-ratio:72/80;background-image:url("../images/service/icon-streaming-12.png");width:3.6rem;}
.icon-streaming-13 {aspect-ratio:1/1;background-image:url("../images/service/icon-streaming-13.png");width:4.4rem;}
.icon-streaming-14 {aspect-ratio:128/80;background-image:url("../images/service/icon-streaming-14.png");width:6.4rem;}
.icon-streaming-15 {aspect-ratio:1/1;background-image:url("../images/service/icon-streaming-15.png");width:5.2rem;}
.icon-streaming-16 {aspect-ratio:1/1;background-image:url("../images/service/icon-streaming-16.png");width:5.2rem;}
.icon-streaming-17 {aspect-ratio:1/1;background-image:url("../images/service/icon-streaming-17.png");width:4.8rem;}
.icon-live1-1 {aspect-ratio:1/1;background-image:url("../images/service/icon-live1-1.png");width:6.4rem;}
.icon-live1-2 {aspect-ratio:160/112;background-image:url("../images/service/icon-live1-2.png");width:8rem;}
.icon-live1-3 {aspect-ratio:216/192;background-image:url("../images/service/icon-live1-3.png");width:10.8rem;}
.icon-live1-4 {aspect-ratio:1/1;background-image:url("../images/service/icon-live1-4.png");width:8.6rem;}
.icon-live1-5 {aspect-ratio:96/88;background-image:url("../images/service/icon-live1-5.png");width:4.8rem;}
.icon-live1-6 {aspect-ratio:104/96;background-image:url("../images/service/icon-live1-6.png");width:5.2rem;}
.icon-live1-7 {aspect-ratio:124/96;background-image:url("../images/service/icon-live1-7.png");width:6.2rem;}
.icon-live1-8 {aspect-ratio:128/88;background-image:url("../images/service/icon-live1-8.png");width:6.4rem;}
.icon-live2-1 {aspect-ratio:140/112;background-image:url("../images/service/icon-live2-1.png");width:7rem;}
.icon-live2-2 {aspect-ratio:128/72;background-image:url("../images/service/icon-live2-2.png");width:6.4rem;}
.icon-live2-3 {aspect-ratio:1/1;background-image:url("../images/service/icon-live2-3.png");width:4.8rem;}
.icon-live2-4 {aspect-ratio:96/112;background-image:url("../images/service/icon-live2-4.png");width:4.8rem;}
.icon-live2-5 {aspect-ratio:96/112;background-image:url("../images/service/icon-live2-5.png");width:4.8rem;}
.icon-cdn-1 {aspect-ratio:120/80;background-image:url("../images/service/icon-cdn-1.png");width:6rem;}
.icon-cdn-2 {aspect-ratio:96/80;background-image:url("../images/service/icon-cdn-2.png");width:4.8rem;}
.icon-cdn-3 {aspect-ratio:1/1;background-image:url("../images/service/icon-cdn-3.png");width:4.8rem;}
.icon-cdn-4 {aspect-ratio:1/1;background-image:url("../images/service/icon-cdn-4.png");width:5.6rem;}
.icon-cdn-5 {aspect-ratio:195/192;background-image:url("../images/service/icon-cdn-5.png");width:9.8rem;}
.icon-ai-1 {aspect-ratio:128/120;background-image:url("../images/service/icon-ai-1.png");width:6.4rem;}
.icon-ai-2 {aspect-ratio:160/112;background-image:url("../images/service/icon-ai-2.png");width:8rem;}
.icon-ai-3 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-3.png");width:9.6rem;}
.icon-ai-4 {aspect-ratio:196/192;background-image:url("../images/service/icon-ai-4.png");width:9.8rem;}
.icon-ai-5 {aspect-ratio:128/112;background-image:url("../images/service/icon-ai-5.png");width:6.4rem;}
.icon-ai-6 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-6.png");width:5.2rem;}
.icon-ai-7 {aspect-ratio:96/112;background-image:url("../images/service/icon-ai-7.png");width:4.8rem;}
.icon-ai-8 {aspect-ratio:104/80;background-image:url("../images/service/icon-ai-8.png");width:5.2rem;}
.icon-ai-9 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-9.svg");width:5.2rem;}
.icon-ai-10 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-10.svg");width:5.2rem;}
.icon-ai-11 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-11.svg");width:5.2rem;}
.icon-ai-12 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-12.svg");width:5.2rem;}
.icon-ai-13 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-13.svg");width:9.6rem;}
.icon-ai-14 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-14.svg");width:9.6rem;}
.icon-ai-15 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-15.svg");width:9.6rem;}
.icon-ai-16 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-16.svg");width:9.6rem;}
.icon-ai-17 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-17.svg");width:6.4rem;}
.icon-ai-18 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-18.svg");width:6.4rem;}
.icon-ai-19 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-19.svg");width:6.4rem;}
.icon-ai-20 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-20.svg");width:6.4rem;}
.icon-ai-21 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-21.svg");width:6.4rem;}
.icon-ai-22 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-22.svg");width:6.4rem;}
.icon-ai-23 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-23.svg");width:6.4rem;}
.icon-ai-24 {aspect-ratio:1/1;background-image:url("../images/service/icon-ai-24.svg");width:6.4rem;}

.icon-form-1 {aspect-ratio:112/120;background-image:url("../images/service/icon-form-1.png");width:5.6rem;}
.icon-form-2 {aspect-ratio:160/112;background-image:url("../images/service/icon-form-2.png");width:8rem;}
.icon-form-3 {aspect-ratio:1/1;background-image:url("../images/service/icon-form-3.png");width:9.6rem;}
.icon-form-4 {aspect-ratio:1/1;background-image:url("../images/service/icon-form-4.png");width:9.6rem;}
.icon-form-5 {aspect-ratio:1/1;background-image:url("../images/service/icon-form-5.png");width:4.8rem;}
.icon-form-6 {aspect-ratio:1/1;background-image:url("../images/service/icon-form-6.png");width:4.8rem;}
.icon-form-7 {aspect-ratio:124/120;background-image:url("../images/service/icon-form-7.png");width:6.2rem;}
.icon-form-8 {aspect-ratio:1/1;background-image:url("../images/service/icon-form-8.png");width:5.6rem;}
.icon-player-1 {aspect-ratio:90/120;background-image:url("../images/service/icon-player-1.png");width:4.5rem;}
.icon-player-2 {aspect-ratio:96/112;background-image:url("../images/service/icon-player-2.png");width:4.8rem;}
.icon-player-3 {aspect-ratio:1/1;background-image:url("../images/service/icon-player-3.png");width:9.6rem;}
.icon-player-4 {aspect-ratio:96/108;background-image:url("../images/service/icon-player-4.png");width:4.8rem;}
.icon-player-5 {aspect-ratio:88/104;background-image:url("../images/service/icon-player-5.png");width:4.4rem;}
.icon-player-6 {aspect-ratio:112/96;background-image:url("../images/service/icon-player-6.png");width:5.6rem;}
.icon-player-7 {aspect-ratio:96/108;background-image:url("../images/service/icon-player-4.png");width:4.8rem;}
.icon-company-1 {aspect-ratio:37/40;background-image:url("../images/service/icon-company-1.svg");width:3.7rem;}
.icon-company-2 {aspect-ratio:36/40;background-image:url("../images/service/icon-company-2.svg");width:3.6rem;}
.icon-company-3 {aspect-ratio:36/40;background-image:url("../images/service/icon-company-3.svg");width:3.6rem;}
.icon-company-4 {aspect-ratio:36/40;background-image:url("../images/service/icon-company-4.svg");width:3.6rem;}
.icon-company-5 {aspect-ratio:36/40;background-image:url("../images/service/icon-company-5.svg");width:3.6rem;}
.icon-e-book-1 {aspect-ratio:1/1;background-image:url("../images/service/icon-e-book-1.png");width:4.8rem;}
.icon-e-book-2 {aspect-ratio:96/112;background-image:url("../images/service/icon-e-book-2.png");width:4.8rem;}
.icon-e-book-3 {aspect-ratio:89/105;background-image:url("../images/service/icon-e-book-3.png");width:4.4rem;}
.icon-e-book-4 {aspect-ratio:96/80;background-image:url("../images/service/icon-e-book-4.png");width:4.8rem;}
.icon-e-book-5 {aspect-ratio:96/108;background-image:url("../images/service/icon-e-book-5.png");width:4.8rem;}
.icon-e-book-6 {aspect-ratio:128/120;background-image:url("../images/service/icon-e-book-6.png");width:6.4rem;}
.icon-e-book-7 {aspect-ratio:128/88;background-image:url("../images/service/icon-e-book-7.png");width:6.4rem;}
.icon-e-book-8 {aspect-ratio:96/112;background-image:url("../images/service/icon-e-book-8.png");width:4.8rem;}
[class^="icon-cloud-in-"] {aspect-ratio:1/1;width:2.4rem;}
.icon-cloud-in-1 {background-image:url("../images/service/icon-cloud-in-1.svg");}
.icon-cloud-in-2 {background-image:url("../images/service/icon-cloud-in-2.svg");}
.icon-cloud-in-3 {background-image:url("../images/service/icon-cloud-in-3.svg");}
.icon-cloud-in-4 {background-image:url("../images/service/icon-cloud-in-4.svg");}
.icon-cloud-in-5 {background-image:url("../images/service/icon-cloud-in-5.svg");}
.icon-cloud-in-6 {background-image:url("../images/service/icon-cloud-in-6.svg");}
.icon-cloud-in-7 {background-image:url("../images/service/icon-cloud-in-7.svg");}
.icon-cloud-in-8 {background-image:url("../images/service/icon-cloud-in-8.svg");}
.icon-chat-bot {background:url("../images/common/icon-chatbot-small.png") no-repeat 50% 50%;aspect-ratio:32/28;width:3.2rem;background-size:contain}
@container service-container (max-width:1023px) {
    .service-info-box-inner {padding-left:4.2rem;padding-right:2.4rem}
    .service-info-title {margin-left:-.2rem;font-size:2.4rem}
    .service-info-box-top-title {font-size:2.8rem}
    .main-service-desc {font-size:2rem;line-height:1.5}
    .main-service-desc-small {font-size:1.6rem;line-height:1.5}
    .sub-content-area .title-size-24 {margin-top:4rem;font-size:2.4rem;}
    .green-color-box-content {flex-direction:column;gap:2.8rem}
    .green-color-box[data-dir="end"] .green-color-box-content {align-items:flex-start}
    .green-color-box[data-dir="end"] .color-box-img {align-self:flex-end}
    .service-desc-1 {font-size:2rem;line-height:1.4}
    .service-desc-2 {font-size:1.6rem;line-height:1.4}
    .text-desc-size-24 {font-size:2rem}
    .box-group-col-2 {width:100%}
    .green-color-box,
    .sky-color-box,
    [class^="gradation-color-box-"] {padding:3.2rem 2.8rem}
    .main-service-keyword-box {width:18rem;height:10rem;padding:2rem 1.6rem}
    .main-service-keyword {font-size:1.6rem}
    .srv-img5 {scale:.8}
}
@container service-container (max-width:767px) {
    .keyword-position1 {left:-2rem}
    .keyword-position4 {right:-2rem}
    .keyword-position6 {left:-2rem}
    .keyword-position2 {left:0}
    .keyword-position3 {right:0}
    .srv-img5 {scale:.6}
}
@media (max-width:480px) {
    .service-info-box-inner {padding-left:1.2rem;padding-right:1.2rem}
    .main-service-keyword-box {scale:.7}
    .service-info-title {padding-top:0}
    .main-service-item {margin-top:2rem}
    .srv-img5 {scale:.4;margin-top:-8rem}

    .keyword-position1 {top:-2.4rem}
    .main-service-item {padding-bottom:3.6rem}
    .main-service-btn-area {margin-top:2rem}
    .main-service-desc {font-size:1.8rem}
    .sub-content-area .title-size-24 {margin-top:2.8rem;}
    .radius-32-size-112-item {width:8rem}
    .icon-ai-17,
    .icon-ai-18,
    .icon-ai-19,
    .icon-ai-20,
    .icon-ai-21,
    .icon-ai-22,
    .icon-ai-23,
    .icon-ai-24 {width:5.2rem}
}
/* E :서비스 소개 */